*{
    font-family: 'Comfortaa', cursive;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    padding: 0px;
    margin: 0px; 
}

.cabecalho{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    top:0px;
    background-color: #ffffff;
}

.iconeCabecalho{
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
}

.link{
    display: flex;
    height: inherit;
    align-items: center;
    position: relative;
    left: 50px;
    color: #615B9C;
    font-weight: 700;
    font-size: 24px;
    padding: 0px 50px;   
}

.link:hover{
    border-bottom: solid #423E6B;  
}

.blocoSessao{
    padding: 200px 0px;
    width: 100%;
    color: #423E6B;
}

.sessaoCompleta{
    width: 50%;
}

.titulo{
    font-size: 2em;
    font-weight: bolder;
    text-align: left;
    padding-bottom: 30px;
}

#sobre{
    justify-content: space-between;
    display:flex;
}

.imagemSessaoSobre{
    display: flex;
    height: 400px;
}

.tituloSessao{
    font-size: 1.8em;
    font-weight: 700;
    text-align: left;
    padding-bottom: 30px;
}

.textoSessao{
    font-size: 1.5em; 
}

#conteudo{
    background-color: #F0F7F5;
    padding: 30px 100px;
    text-align: justify;
}

.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:sticky;
    top:0px;
    background-color: #615B9C;
    color:#F0F7F5;
}

.tituloRodape{
    display: flex;
    font-size: 1.5rem;
    padding: 20px 0px;
}

.conteudoRodape{
display: flex;
padding: 20px 0px;
}

.linkClicavel{
    padding: 0px 50px;
    color: #F0F7F5;
}

.quadrado{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #423E6B;
    
    
}

.quadrado:hover{
    animation-name: animacao;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    
}

@keyframes animacao {
from {}
to { 
    width: 500px; 
    }
}

@keyframes aparecer {
    from {opacity: 0;}
    to {opacity: 1;}    
}